.container {
	background:#FFECAF;
	padding:0px;
	margin:0px;
}
.header {
	margin:0px;
	padding:0px;
	padding-top:70px;
	padding-bottom:20px;
	background:#292B2C;
	color:white;
}
.internallink {
	color:#FFECAF;
}
.internallink:hover {
	text-decoration: none;
	color:#C0521F;
}
.logo {
	background: url("/assets/images/hslogo_dark.png") no-repeat center top;
	height:255px;
	width:255px;
}
.content {
	padding:0px;
	margin:0px;
}

.saannotJaSeloste {
	padding-top:30px;
	padding-bottom:30px;
	text-align:justify;
}
.saannotJaSeloste h4 {
	margin-top:30px;
	text-align:left;
}
.yhdistys_desc {
	padding:40px;
	opacity:1!important;
	background-color:#f9e095;
	color:black;
}
.otsikko {
	margin-top:20px;
	margin-bottom:30px;
}
.persontitle {
	font-style:italic;
}
@media (max-width:500px) {
	.saannotJaSeloste {
		text-align:left;
	}
}

