.container {
	background:lightgray;
	padding:0px;
	margin:0px;
}
.header {
	margin:0px;
	padding:0px;
	padding-top:70px;
	padding-bottom:20px;
	background:#292B2C;
	color:white;
}
.logo {
	background: url("/assets/images/hslogo_dark.png") no-repeat center top;
	height:255px;
	width:255px;
}
.content {
	padding:0px;
	margin:0px;
}
.yhdistys_desc {
	padding:40px;
	opacity:1!important;
	background-color:#cecece;
	color:black;
}
.otsikko {
	margin-top:20px;
	margin-bottom:30px;
}
.persontitle {
	font-style:italic;
}

