.messagesContainer {
  z-index: 1100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.message {
  padding: 1em 5em;
  color: white;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message:hover {
  opacity: 1;
}

.messageSuccess {
  background-color: #4CAF50;
}

.messageWarning {
  background-color: #ff9800;
}

.messageError {
  background-color: #f44336;
}

.closeIcon {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
