.container {
	background-color: #dbdbdb;
}
.banner {
	background: url("/assets/images/teaser-tausta2.jpg") no-repeat center top black;
	box-shadow: -1px 5px 5px
}
.form_canvas {
	margin-top: 150px;
	margin-bottom: 100px;
	padding: 40px;
	padding-top: 30px;
	background-color: white;
	text-align: justify;
}
.tahti {
	color: red;
	font-weight: bold;
	font-size: 110%;
}
.jasenradio {
	margin-left: 20px;
}

@media ( max-width: 576px ) {
	.banner {
		padding-top: 10vh;
		background-size: 110vw;
		background-color: white;
	}
	.form_canvas {
		padding: 30px;
		padding-top: 20px;
		text-align: left;
	}
}
@media ( max-width: 1000px ) {
	h2{
		font-size: 32px;
	}
}



