.container {
	background-color:#444444;
}
.logo {
	font-size:2rem;
	color:white;
	padding:5px;
	padding-left:20px;
	height:60px;
	min-width:200px;
}
.nav {
	color:#dbdbdb;
	text-align:center;
	min-width:100px;
}
.nav:hover {
	color:red;
}
/*div {
	border:1px solid red;
}*/
.subtopic {
	margin-bottom:7px;
}