.container {
	background-color:#444444;
}
.logo {
	font-size:2rem;
	color:white;
	padding:5px;
	padding-left:20px;
	height:60px;
	min-width:200px;
}
div {
	/*border:red 1px solid;*/
}
h1 {
	

}
.nav {
	color:#dbdbdb;
	text-align:center;
	min-width:100px;
}
.nav:hover {
	color:red;
}