.container {
  color: white;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin: -5px;
  margin-top: 20px;
}

.buttonRow button {
  padding: 2em;
  border: none;
  border-radius: 4px;
  flex-grow: 1;
  margin: 5px;
}
