.container {
  height: 100%;
  /* padding: 2em; */
}

.rows {
  height: 100%;
  overflow: auto;
}

.bookingRow {
  font-size: 14px;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border: none;
  background: white;
  color: black;
  margin-bottom: 15px;
  border-radius: 4px;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 60%;
  margin: -15px -10px;
}

.selected {
  background-color: rgb(187, 187, 187);
}

.name {
  width: 20%;
  text-align: left;
}

.email {
  display: none;
}

.paid {
  width: 20%;
  text-align: center;
}

.redeemed {
  width: 20%;
  text-align: center;
}

.tag {
  width: 20%;
  text-align: left;
}

.bookingCount {
  width: 20%;
  text-align: center;
}

@media (min-width:800px) {
  .name {
    width: 20%;
  }
  .email {
    display: block;
    width: 20%;
    text-align: left;
  }

  .paid {
    width: 15%;
  }

  .redeemed {
    width: 15%;
  }

  .tag {
    width: 15%;
  }

  .bookingCount {
    width: 15%;
  }
}
