.backgroundPurple {
  background-color: #d0bdd0;
}

.backgroundBlack {
  background-color: #000000;
}

.backgroundGrey {
  background-color: #a9a9a9;
}

.backgroundPale {
  background-color: #d1dac6;
}

.backgroundWhite {
  background-color: #ffffff;
}

.fontPurple {
  color: #d0bdd0;
}

.fontBlack {
  color: #000000;
}

.fontGrey {
  color: #a9a9a9;
}

.fontLightGrey {
  color: #e2e2e2
}

.fontPale {
  color: #d1dac6;
}

.fontWhite {
  color: #ffffff;
}

.fontHoverGrey:hover {
  color: #e2e2e2;
}

.fontFocusGrey:focus {
  color: #e2e2e2;
}

.linkPurple {
  composes: fontPurple fontHoverGrey fontFocusGrey;
}
