.container {
  width: 100%;
  margin-top: 20px;
}

.showRow {
  font-size: 14px;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.showDate {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.showTime {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
 
.selected {
  background-color: rgb(187, 187, 187);
}


