.container {
  background: url('/assets/images/speksi2019bg.png') center bottom no-repeat #d8bed2;
  background-size: contain;
  padding-bottom: 100px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

@media ( min-width: 600px ) {

}

@media ( min-width: 840px ) {

}

@media ( min-width: 1080px ) {
  .container {
    background-size: cover;
  }
}
