.container {
  background: url('/assets/images/speksi2019bg.png') center bottom no-repeat #f0cde1;
  background-size: cover;
  padding-bottom: 200px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

@media ( min-width: 600px ) {

}

@media ( min-width: 840px ) {

}

@media ( min-width: 1080px ) {

}
