.container {
  composes: backgroundBlack from '../../styles/Colors.css';
  composes: fontPurple from '../../styles/Colors.css';
  width: 100%;
}

.year {
  width: 100%;
  display: flex;
  composes: subHeading from '../App.css';
  justify-content: flex-end;
  padding: 2em 4em;
}

.speksiContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}

.speksiTitle {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.carouselContainer {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.speksiDescription {
  order: 3;
  width: 80%;
  padding: 100px 2em;
}

.font_alaammuohi_header {
	font-family: alaammuohi;
	/* color: white; */
	font-size:50px;
}
.font_alaammuohi {
	font-family: "Baskerville Old Face";
  font-size: 16px;
  text-align: center;
}


.font_kruunu_header {
	font-family: "Times New Roman";
	font-size: 32px;
}
.font_kruunu {
	font-family: "Times New Roman";
  font-size: 16px;
  text-align: center;
}

.font_bratva_header {
	font-family: "Courier New";
	font-size: 32px;
}
.font_bratva {
	font-family: "Courier New";
  font-size: 16px;
  text-align: center;
}

.font_hali_header {
	font-family: "Arial";
	font-size: 36px;
}

.font_hali {
	font-family: "Arial";
  font-size: 16px;
  text-align: center;
}

@media ( min-width: 600px ) {
  
	
}

@media ( min-width: 840px ) {
  .speksiContainer {
    flex-direction: row;
  }

  .carouselContainer {
    width: 50%;
    order: unset;
  }
  
  .speksiTitle {
    width: 50%;
    order: unset;
  }

  .speksiDescription {
    order: unset;
  }
}

@media ( min-width: 1080px ) {
  .font_alaammuohi_header {
		font-size: 60px;
  }
  
  .font_alaammuohi {
		font-size: 20px;
  }
  
  .font_kruunu_header {
		font-size: 44px;
  }
  
  .font_kruunu {
		font-size: 20px;
  }
  
  .font_bratva_header {
		font-size: 44px;
  }
  
  .font_bratva {
		font-size: 18px;
  }
  
  .font_hali_header {
		font-size: 44px;
  }
  
  .font_hali {
		font-size: 18px;
	}
}
