.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  animation: fadein 4s;
  justify-content: center;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bigsubHeading{
  font-size: 26px;
}

.bigHeading {
  margin-top: 20px;
  font-size: 40px;
}

.subHeading {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  animation: fadein 4s;
  justify-content: center;
}

.teaser{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.bigsubHeading{
  font-size: 26px;
}

.bigHeading {
  margin-top: 20px;
  font-size: 40px;
}

.subHeading {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  .headerContainer {
  }

  .bigsubHeading {
    font-size: 38px;
  }

  .bigHeading {
    font-size: 68px;
  }

  .headingText {
    margin-top: 20px;
  }

  .subHeading {
    font-size: 28px;
  }
}

@media (min-width: 840px) {
  .headerContainer {
    width: 80%;
  }

  .headingText {
    margin-top: 50px;
    width: 70%;
  }

  .subHeading {
    margin-top: 50px;
  }
}

@media (min-width: 1080px) {
  .headerContainer {
  }

  .bigHeading {
    font-size: 80px;
  }
}
