.container {
	background-color: #dbdbdb;
}
.banner {
	background: url(/assets/images/rekry-banner.jpg) no-repeat black center;
	height: 300px;
	box-shadow: -1px 5px 5px
}
.content {
    margin-top: -100px;
}
.form_canvas {
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 30px;
	padding-top: 20px;
	background-color: white;
}
.tahti {
	color: red;
	font-weight: bold;
	font-size: 110%;
}
.kiitoskuva {
	border-radius: 50% 50% 50% 50%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.jasenradio {
	margin-left: 20px;
}


