.input {
  margin: 10px 0px;
  padding: 5px 1em;
  border: none;
  border-radius: 4px;
  flex-grow: 1;
}

.label {
  position: absolute;
  top: 0;
  left: 5px;
}

.formRow {
  display: flex;
  margin-bottom: 5px;
  margin: -5px;
  width: 100%;
}

.inputGroup {
  position: relative;
  padding: 1em 0;
  display: flex;
  width: 100%; 
}

.inputRadioButtons {
  width: 100%;
}

.inputRadioOption {
  margin-top: 5px;
  width: 100%;
}

.radioWrapper,
.checkboxWrapper {
  position: relative; 
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  /*display:  none;*/
  position:  absolute; 
  top:  0px; 
  left: 0px; 
  height:  20px; 
  width:  20px; 
  -webkit-appearance:  none;
}

.radioLabel,
.checkboxLabel {
  display:  flex; 
  position:  relative;
  font-size:  20px; 
  font-weight:  400;
  align-items:  center; 
  justify-content:  flex-start; 
  margin-bottom:  20px; 
}

.radioLabel:before, 
.radioLabel:after,
.checkboxLabel:before, 
.checkboxLabel:after {
  pointer-events: none; 
}

.radioLabel:before,
.radioLabel:after {
  border-radius:  50%; 
}

.radioLabel:before,
.checkboxLabel:before {
  display:  flex; 
  content: ' ';
  height:  20px; 
  width:  20px; 
  border:  solid 3px rgb(95, 95, 95);
  background:  #fff;
  margin-right:  10px; 
}

.radioLabel:after,
.checkboxLabel:after {
  position:  absolute; 
  top:  7px; 
  left:  7px; 
  display:  flex; 
  content: ' '; 
  height:  12px; 
  width:  12px;  
  background: #000;
  transform: scale(0);
  transition:  transform .3s ease; 
}

.checkboxLabel:after {
  height:  5px; 
  width:  12px; 
  left:  5px; 
  border-bottom:  solid 4px #000; 
  border-left:  solid 4px #000; 
  background:  none; 
  transform: rotate(-45deg) scale(0);
  transition:  transform .1s ease, opacity .1s ease;
  transform-origin: center center; 
}

.radioWrapper input[type="radio"]:checked + .radioLabel:after {
  transform:  scale(1);
}
.checkboxWrapper input[type="checkbox"]:checked + .checkboxLabel:after {
  opacity:  1; 
  transform: rotate(-45deg) scale(.8);
} 

@media ( min-width: 600px ) {
  .inputGroup {
    width: 48%; 
  }

  .inputRadioButtons {
    width: 100%;
  }

  .inputRadioOption {
    width: 35%;
  }

  .inputTextarea {
    width: 100%;
  }
}

@media ( min-width: 840px ) {
  .inputRadioOption {
    width: 30%;
  }
}

@media ( min-width: 1080px ) {

}
