.container {
	background:lightgray;
	padding:0px;
}
.header {
	margin:0px;
	padding-top:70px;
	padding-bottom:30px;
	background:#292B2C;
	color:white;
}
.content {
	background:#ffecaf;
	margin:0px;
	padding:20px;
	padding-bottom:100px;
}
.videowrapper {
	background:#ffecaf;
	padding:40px;
	margin:0px;
}
.textheader {
	font-size:48px;
	font-family:hybridispeksi;
	color:#7a1111;
}
.content ol {
	font-family:Calibri;
	font-size:20px;
}	
.content p {
	margin-bottom:40px;
}
@font-face {
	font-family:'hybridispeksi';
	src:url("/assets/fonts/westernbangbang.otf");
}
.esitykset {
	font-family:hybridispeksi;
	font-size:32px;
	margin:20px;
	margin-left:40px;
	margin-top:0px;
	padding:40px;
	padding-top:0px;
}
.esitykset i {
	font-family:Calibri;
	font-size:20px;
}
.showTd {
	cursor:'pointer';
}
.showTdFull{
	cursor:'not-allowed';
}
/*div {
	border:1px solid red;
}*/


/* STYLES FOR MOBILE DEVICES */ 
@media (max-width:1200px){
	.esitykset{
		margin-left:20px;
	}
}
@media (max-width:767px){
	.container {
		background:lightgray;
		padding:0px;
		padding-top:40px;
	}
	.header {
		padding-top:40px;
	}
}
@media (max-width:500px) {
	.esitykset{
		font-size:28px;
	}
}
@media (max-width:400px) {
	.esitykset{
		font-size:24px;
	}
}