.container {
	background:lightgray;
}
.content {
	background: url("/assets/images/teasertausta.png") no-repeat bottom right;
	height:calc(100vh - 50px);
}
.content_row {
	background-color:   rgba(255, 255, 255, 0.4);
	padding:0px;
	margin:0px;
	width:100%;
}
.esitykset_desc {
	padding:20px;
	opacity:1!important;
}
@media (max-width:400px) {
	.content {
	height:calc(90vh - 50px);
	background: url("/assets/images/teasertausta.png") no-repeat bottom right;
	background-size:100%;
	}
}
