.container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 2em;
}

.content {
  width: 100;
  display: flex;
  flex-wrap: wrap;
}

.eventsList {
  width: 100%;
}

.enrollmentsList {
  width: 100%;
}

.enrollment {
  width: 100%;
}

@media(min-width: 800px) {
  .eventsList {
    width: 50%;
  }

  .enrollmentsList {
    width: 50%;
  }

  .enrollment {
    width: 100%;
  }
}

@media(min-width: 1080px) {
  .eventsList {
    width: 25%;
  }

  .enrollmentsList {
    width: 30%;
  }

  .enrollment {
    width: 45%;
  }
}

@media(min-width: 1440px) {
  .eventsList {
    width: 30%;
  }

  .enrollmentsList {
    width: 30%;
  }

  .enrollment {
    width: 40%;
  }
}
