.container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 2em;
}

.header {
  width: 100%;
  height: 3em;
}

.content {
  width: 100;
  display: flex;
  flex-wrap: wrap;
}

.eventsList {
  width: 30%;
}

.enrollmentsList {
  width: 35%;
}

.enrollment {
  width: 35%;
}
