.navContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  height: 100px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  padding: 0 2em;
  
}

.brandLink {
  color: #d0bdd0;
  transition: transform .2s;
  composes: fontZapfino from '../../styles/Fonts.css';
}

.brandLink:hover {
  color: #e2e2e2;
  transform: scale(1.1);
}


.navItems {
  display: none;
  justify-content: space-around;
  list-style-type: none;
}

.navLink {
  composes: fontZapfino from '../../styles/Fonts.css';
  font-size: 10px;
  text-transform: uppercase;
  color: #d0bdd0;
  transition: transform .2s;
}

.navLink:hover {
  text-decoration: none;
  color: #e2e2e2;
  transform: scale(1.1);
}

@media (min-width: 840px) {
  .content {
    width: 100%;
  }
  .navItems {
    display: flex;
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .navItems {
    width: 50%;
  }

  .content {
    width: 80%;
  }
}
