.navContainer {
  display: flex;
  background-color: rgb(19, 19, 19);
  align-items: center;
  justify-content: center;
  height: 80px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  padding: 0 2em;
  
}

.brandLink {
  composes: fontPurple from '../../styles/Colors.css';
  /* composes: fontZapfino from '../../styles/Fonts.css'; */
  text-transform: uppercase;
}

.brandLink:hover {
  color: #e2e2e2;
  transform: scale(1.1);
  text-decoration: none;
}

.brandLink:focus {
  color: #d0bdd0;
  text-decoration: none;
}

.navItems {
  display: none;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

.navItem {
  font-size: 14px;
  transition: transform .2s;
}

.navLink {
  /* composes: fontZapfino from '../../styles/Fonts.css'; */
  composes: fontPurple from '../../styles/Colors.css';
  text-transform: uppercase;
}

.activeNavLink {
  color: white;
  font-size: 16px;
}

.navItem:hover {
  transform: scale(1.1);
}

.navLink:hover {
  text-decoration: none;
  color: #e2e2e2;
}

@media (min-width: 840px) {
  .content {
    width: 100%;
  }
  .navItems {
    display: flex;
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .navItems {
    width: 50%;
  }

  .content {
    width: 80%;
  }
}
