.mobileMenuIcon {
  padding: 0 2em;
  font-size: 22px;
  cursor: pointer;
  color: #d3d3d3;
}

.mobileMenu {
  /* display: none; */
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  position: absolute;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  text-align: right;
}

.navLink {
  padding: 1em;
  composes: navLink from './Header.css';
}

@media (min-width: 840px) {
  .mobileMenuIcon {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
