.container {
   background:#ffecaf;
}
hr {
	background-color:#7a1111;
}
.hr {
	margin:0px;
}
.content_home {
	height:810px;
	background:url("/assets/images/teaser-tausta2.jpg") no-repeat center top lightgray;
	/*background-size: contain;*/
}

.content_contact {
	height:50vh;
	background:#d8d8d8;
}
@font-face {
	font-family:'hybridispeksi';
	src:url("/assets/fonts/westernbangbang.otf");
}

.slogan {
	padding:20px;
	padding-top:33px;
	font-family:'hybridispeksi';	
	animation:fadein 4s;
}
@keyframes fadein {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.name{
	text-align:center;
	color:#580d0d;
	font-size:32px;
}
.logo{
	margin-top:-16px;
	width:550px;
	height:330px;
	background:url("/assets/images/logo_lapinak.png") no-repeat center;
	background-size: 580px 580px;
}
.date {
	text-align:right;
	color:white;
	font-size:44px;
}
.lipunmyynti {
	margin-top:120px;
	text-align:center;
	color:white;
	font-size:78px;
}

/* CONTENTS */
.content_contents{
	background:#ffecaf;
	padding-top:20px;
	padding-bottom:50px;
}
.linkicon{
	margin-top:20px;
	font-size:72px;
}
.internallink {
	margin-top:20px;
	color:black;
	transition:0.1s ease-in transform;
	animation:fadein 2s;
	display:block;
}
.internallink:hover {
	text-decoration: none;
	color:#7a1111;
	transform:scale(1.05);
}
.externallink {
	color:#7A1111;
}
.externallink:hover {
	color:#580D0D;
}

/* SPEKSI */
.content_speksi {
	background-color:#ffecaf;
	padding:50px;
	padding-top:60px;
}
.hslogo{
	width:270px;
	height:270px;
	background:url("/assets/images/normi.png") no-repeat center;
	background-size:300px 300px;
}
.infoicon{
	font-size:150px;
	margin:20px;
}
.speksi_desc {
	padding:20px;
	text-align:justify;
}
.otsikko {
	text-align: center;
}
.sponsors {
	padding:50px;
}
.sponsor {
	padding:20px;
	width:auto;
}


@media (max-width:992px){
	.content_home {
		background:url("/assets/images/teaser-tausta-mobiili.jpg") no-repeat center top black;
		background-size: 992px 992px;
		height:992px;
	}
	.lipunmyynti {
		margin-top:200px;
		font-size:62px;
	}
}
@media (max-width:768px){
	.content_home {
		background:url("/assets/images/teaser-tausta-mobiili.jpg") no-repeat center top black;
		background-size: 768px 768px;
		height:768px;
	}
	.logo {
		margin-top:50px;
		height:300px;
		width:500px;
		background-size:500px 500px;
	}
	.lipunmyynti {
		margin-top:160px;
		font-size:44px;
	}
}
@media (max-width:500px){
	.content_home {
		background:url("/assets/images/teaser-tausta-mobiili.jpg") no-repeat center top black;
		background-size: 500px 500px;
		height:500px;
	}
	.rivi {
		margin:0px;
		padding:0px;
	}
	.slogan {
		padding:20px;
		padding-top:35px;	
	}
	.name{
		font-size:32px;
		margin-top:0px;
	}
	.date{
		
	}
	.logo {
		margin-top:0px;
		height:200px;
		width:300px;
		background-size:300px 300px;
	}
	.lipunmyynti {
		margin-top:100px;
		font-size:26px;
	}
	.content_speksi {
		background-image:none;
		padding:12px;
		padding-top:20px;
	}
	.speksi_desc {
		text-align:left;
	}

}



/*
.mainimage {
	background:url("/assets/images/carousel/3_ilmari2.jpg") no-repeat fixed right bottom;
	height:100%;
	width:100%;
}
.carousel {
	height:calc(80vh - 60px);
	background: black;
}
.carousel_image {
	height:500px;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}*/