.container {
    background-color:lightgray;
    padding-top:40px;
}
.content_home {
	height:600px;
	background:url("/assets/images/homebg.png") no-repeat center top lightgray;
}

.content_contact {
	height:50vh;
	background:#d8d8d8;
}
@font-face {
	font-family:'hybridispeksi';
	src:url("/assets/fonts/cowboys.ttf");
}
h2 {
	font-size:55px;
}
.slogan {
	padding:20px;
	padding-top:35px;
	font-family:'hybridispeksi';
	text-align:center;
	color:white;
	animation:fadein 4s;
}
@keyframes fadein {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.year{
	color:#1A0202;
	font-size:68px;
	margin-top:30px;
}
.date {
	margin-top:270px;
}

/* CONTENTS */
.content_contents{
	background:lightgray;
	padding-top:30px;
	margin-bottom:60px;
}
.linkicon{
	margin-top:20px;
	font-size:72px;
}
.linkki {
	margin-top:40px;
	color:black;
	transition:0.1s ease-in transform;
	animation:fadein 2s;
}
.linkki:hover {
	text-decoration: none;
	color:#7a1111;
	transform:scale(1.05);
}

/* SPEKSI */
.content_speksi {
	background-color:#c9c9c9;
	padding:50px;
}
.infoicon{
	font-size:150px;
	margin:20px;
}
.speksi_desc {
	padding:20px;
	text-align:justify;
}



@media (max-width:500px){
	.content_home {
		background:url("/assets/images/homebgmobile.jpg") no-repeat center top black;
		height:450px;
	}
	h2 {
		font-size:24px;
	}
	.year{
		font-size:32px;
		margin-top:10px;
	}
	.slogan {
		padding:20px;	
	}
	.date{
		margin-top:280px;
	}
	.content_speksi {
		background-image:none;
		padding:12px;
		padding-top:20px;
	}
	.speksi_desc {
		text-align:left;
	}

}

/*
.mainimage {
	background:url("/assets/images/carousel/3_ilmari2.jpg") no-repeat fixed right bottom;
	height:100%;
	width:100%;
}
.carousel {
	height:calc(80vh - 60px);
	background: black;
}
.carousel_image {
	height:500px;
	width:auto;
	margin-left:auto;
	margin-right:auto;
}*/