.jasentable {
    height: 85vh;
    overflow: auto;
}

.hakulaatikko {
    background-color: #E4E4E4;
}

.jasentiedotlaatikko {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 5px;
    background-color: #E4E4E4;
}