.container {
	background:lightgray;
}
.content_hali {
	margin:50px;
	margin-top:0px;
	padding:20px;
	border:4px dashed gray;
	border-top:none;
}
.content_bratva {
	padding:20px;
}
.content_kruunu {
	margin:50px;
	margin-bottom:0px;
	padding:20px;
	border:4px dashed gray;
	border-bottom:none;
}