.container {
	background:#FFECAF;
	padding:0px;
}
.header {
	margin:0px;
	padding-top:70px;
	padding-bottom:30px;
	background:#292B2C;
	color:white;
}

/* STYLES FOR KRUUNUN KOHTALO */

.content_kruunu {
	margin:0px;
	padding:50px;	
	text-align: justify;
}
.font_kruunu_header {
	font-family: "Times New Roman";
}
.font_kruunu {
	font-family: "Times New Roman";
	font-size:20px;
}
.polaroid_kruunu {
	max-width:80%;
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:skew(3deg, -3deg);
}
.polaroid_kruunu, img {
	width:100%;
}
.polaroid_kruunu_desc {
	text-align: center;
    padding: 10px 20px;
}

/* STYLES FOR BRATVAKONTRA */

.content_bratva {
	margin:0px;
	padding:60px;
	padding-top:40px;
	background-color:#565656;
	color:white;
	text-align: justify;
}
.font_bratva_header {
	font-family:"Courier New";
}
.font_bratva {
	font-family:"Courier New";
	font-size:18px;
}
.polaroid_bratva_container {
}
.polaroid_bratva {
	max-width:80%;
	background-color: white;
	color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:skew(-2deg, 2deg);
}
.polaroid_bratva, img {
	width:100%;
}
.polaroid_bratva_desc {
	text-align: center;
    padding: 10px 20px;
}

/* STYLES FOR H.A.L.I */

.content_hali {
	margin:0px;
	padding:50px;
	text-align: justify;
}
.font_hali {
	font-family:"Arial";
	font-size:18px;
}
.polaroid_hali {
	max-width:80%;
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:skew(1deg, -1deg);
}
.polaroid_hali, img {
	width:100%;
}
.polaroid_hali_desc {
	text-align: center;
    padding: 10px 20px;
}

/* STYLES FOR MOBILE DEVICES */ 

@media (max-width:767px){
	.container {
		background:lightgray;
		padding:0px;
		padding-top:40px;
	}
	.header {
		padding-top:40px;
	}
	.content_hali {
		border:none;
		margin:0px;
		padding:0px;
		padding-bottom:40px;
		text-align: left;
	}
	.content_bratva {
		margin:0px;
		padding:0px;
		padding-top:50px;
		padding-bottom:20px;
		margin-bottom:20px;
		text-align: left;
	}
	.content_kruunu {
		border:none;
		margin:0px;
		margin-bottom:40px;
		padding:0px;
		padding-top:20px;
		text-align: left;	
	}
}

@media (max-width:767px) {
	.polaroid_kruunu {
		min-width:100%;
		transform:skew(0deg, 0deg);
	}
	.polaroid_kruunu_container {
		width:100%;
		padding:0px;
		margin: 40px 0px 40px 0px;
	}
	.polaroid_kruunu_desc {
		display:none;
	}
	.polaroid_bratva {
		min-width:100%;
		transform:skew(0deg, 0deg);
	}
	.polaroid_bratva_container {
		width:100%;
		padding:0px;
		margin: 40px 0px 40px 0px;
	}
	.polaroid_bratva_desc {
		display:none;
	}
	.polaroid_hali {
		min-width:100%;
		transform:skew(0deg, 0deg);
	}
	.polaroid_hali_container {
		width:100%;
		padding:0px;
		margin: 40px 0px 40px 0px;
	}
	.polaroid_hali_desc {
		display:none;
	}	
}