.container {
  width: 100%;
}

.rows {
  max-height: 80vh;
  overflow: auto;
}

.row {
  font-size: 14px;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border: none;
  background: white;
  color: black;
  margin-bottom: 15px;
  border-radius: 4px;
}

.selected {
  background-color: rgb(187, 187, 187);
}

.column {

}

@media(min-width: 800px) {
  .rows {
    max-height: 50vh;
  }
}

@media(min-width: 1080px) {
  .rows {
    max-height: 80vh;
  }
}
