.roles {
  display: flex;
  flex-direction: column;
}


.role {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 6px 19px #f9f9f9;
}
